/* custom css*/
/* index.html file css */
.cssload-container {
  position: fixed;
  left: 0;
  right: 0;
}
.loader-bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 999999;
  top: 0px;
  left: 0px;
}
img.imgLoader {
  top: 45%;
  position: fixed;
  left: 47.5%;
  width: 120px;
  -webkit-animation: rotation 2s linear infinite;
  animation: rotation 2s linear infinite;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@font-face {
  font-family: "lufga";
  src: url(./fonts/lufga_regular.woff2) format("woff2"),
    url(./fonts/lufga_regular.woff) format("woff"),
    url(./fonts/lufga_regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lufga";
  src: url(./fonts/lufga_medium.woff2) format("woff2"),
    url(./fonts/lufga_medium.woff) format("woff"),
    url(./fonts/lufga_medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lufga";
  src: url(./fonts/lufga_semi_bold.woff2) format("woff2"),
    url(./fonts/lufga_semi_bold.woff) format("woff"),
    url(./fonts/lufga_semi_bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lufga";
  src: url(./fonts/lufga_bold.woff2) format("woff2"),
    url(./fonts/lufga_bold.woff) format("woff"),
    url(./fonts/lufga_bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SpaceMono-Italic;
  src: url(./fonts/fontsMono/SpaceMono-Italic.woff2) format("woff2"),
    url(./fonts/fontsMono/SpaceMono-Italic.woff) format("woff"),
    url(./fonts/fontsMono/SpaceMono-Italic.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: SpaceMono-Bold;
  src: url(./fonts/fontsMono/SpaceMono-Bold.woff2) format("woff2"),
    url(./fonts/fontsMono/SpaceMono-Bold.woff) format("woff"),
    url(./fonts/fontsMono/SpaceMono-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: SpaceMono-Regular;
  src: url(./fonts/fontsMono/SpaceMono-Regular.woff2) format("woff2"),
    url(./fonts/fontsMono/SpaceMono-Regular.woff) format("woff"),
    url(./fonts/fontsMono/SpaceMono-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: SpaceMono-BoldItalic;
  src: url(./fonts/fontsMono/SpaceMono-BoldItalic.woff2) format("woff2"),
    url(./fonts/fontsMono/SpaceMono-BoldItalic.woff) format("woff"),
    url(./fonts/fontsMono/SpaceMono-BoldItalic.ttf) format("truetype");
  font-display: swap;
}

/* Our Hotel Container */
#our-hotel-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
    overflow: hidden;
}

#templateCanvas {
    display: block;
    width: 100%;
    height: 100%;
}
